body{
background-color: #DBE8F3;
}
.logo{
display: flex;
justify-content: space-between;
margin-top: 50px;

}



.logo_text{
    font-family: 'Roboto', sans-serif;
    padding-left: 50px;
}
.logo_text span{
    color: blue;
    margin: 25px;
}

.nav{
display: flex;
margin-right: 50px;
}
.nav_ul{

}
.nav_li{
    list-style: none ;
    color: black;
    font-family: 'Roboto', sans-serif;
}
.nav_li:hover{
list-style: disc;
color: crimson;
}
.nav_link{
    text-decoration: none;
}
.img_llogo{
    margin-right: 50px;
    border-radius: 100px;
    
}
.logo_img{
    display: flex;
    float: right;
}

.discription{
    margin-top: 100px  ;
    margin-left: 110px;
}
.discription_text{
    
}
.discription_img{
   display: flex;
   justify-content: space-between;

}
.support{

}
.text_support{
    width: 900px;
    font-family: 'Roboto Slab', serif;
    
}
.text_support:hover{
    
    transition: 0.5s;
    cursor: grab;
}
.servers{
display: flex;
justify-content: center;

}
.servers_text{
    
}
.psiphon{
    margin-right: 110px;
    font-family: 'Roboto Slab', serif;
}
.psiphon_img{
    float: right;
    
}
.text_psiphon{
    width: 700px;
    margin-left:450px;
  margin-top: 50px;
}
.text_psiphon:hover{
    transition: 0.5s;
    cursor: grab;
}
.ssr{
    margin-top: 100px;
    margin-right: 110px;
    font-family: 'Roboto Slab', serif;
}
.ssr_img{
   
   
   float: right ;
}
.ssr_text{
   width: 700px;
    margin-left: 450px;
    margin-top: 150px; 
}
.ssr_text:hover{
    transition: 0.5s;
    cursor: grab;
}
.v2rayng{
    margin-top: 100px;
    margin-right: 110px;
    font-family: 'Roboto Slab', serif;
}
.v2rayng_img{
   
    float: right ;
}
.v2rayng_text{
    width: 700px;
    margin-left: 450px;
    margin-top:150px; 
}
.v2rayng_text:hover{
    transition: 0.5s;
    cursor: grab;
}
.contact{
display: flex;
justify-content: center;
    margin-top: 150px;
}
.contact_text{

}
.contact_img{
    margin-top: 50px;
   display: flex;
   justify-content: center;
}
.contact_logo{
    border-radius: 150px;
    margin-left: 50px;
}
.contact_logo:hover{
opacity: 0.2;
transition: 1s;
cursor: grab;
}
.contact_link{

}

.how_buy{
display: flex;
justify-content: center;
margin-top: 50px;
}
.how_transfer{

}
.howbuy_img{
display: flex;
justify-content: center;
margin-top: 50px;
}
.how_transfer_img{
margin-right: 50px;
}
.how_transfer_img:hover{
    opacity: 0.2 ;
    transition: 1s;
cursor: grab;
}
.how_buy_discription{
display: flex;
justify-content: center;
}
.how_buy_discription_text{
   padding-left: 100px;
}


.price{
display: flex;
justify-content: center;
margin-top: 100px;
}
.price_text{

}
.price_buy{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 900px;
    margin-top: 50px;
    background-color: #3EA3EB;
    padding-bottom: 15px;
 align-items: center;
    border-radius: 10px;
    margin-left: 330px;
}
.price_buy_div{
    margin-top: 30px;
    border-radius: 10;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: white;
}
#price_buy_id:hover{
    background-color: #00B87F ;
    border-radius: 50px;
    transition: 0.7s;
}
.price_buy:hover{
    border: solid;
    box-shadow: 10px 10px 10px;
    transition: 1s;
}

.treeteam{
display: flex;
justify-content: center;
margin-top: 80px;
}
.treeteam_text{

}
.treetime{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.treetime_text1{
    width: 150px;
    background-color: #C43A25;
    border-radius: 50px;
    height: 35px;
    display: flex;
   align-items: center;
}
.treetime_link1{
    text-decoration: none;
    color: #DBE8F3;

}
.treetime_text1:hover{
background-color: #D02A44;
transition: 1s;
}
.treetime_link1:hover{
    color: #DBE8F3;
    transition: 1s;
}
.treetime_link2{
    text-decoration: none;
    color: #DBE8F3;
}
.treetime_text2{
    width: 150px;
    background-color: #BF197D ;
    border-radius: 50px;
    height: 35px;
    display: flex;
   align-items: center;
}
.treetime_text2:hover{
    background-color: #4E8DF4;
    transition: 1s;
    }
    .treetime_link3{
        text-decoration: none;
        color: #DBE8F3;
    }
    .treetime_text3{
        width: 150px;
        background-color: #F0680C;
        border-radius: 50px;
        height: 35px;
        display: flex;
       align-items: center;
    }
    .treetime_text3:hover{
        background-color:#9C44A9;
        transition: 1s;
        }
        #tretime_link_id{
            margin-left: 40px;
        }
        .footer{
            background-color: #2196F3;
            color: blanchedalmond;
            display: flex;
            justify-content: center;
        border-radius: 50px ;
        }
        #contacts{
            transition: 1s  ;
        }